*{
  text-align: center;
  margin: 0.5rem;
  padding: 0;
}

iframe{
    width: 900px;
    height: 400px;
}

#head{
    padding: 0.5rem;
    width: 100%;
    background-color: black;
    color: rgb(179, 222, 245);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

